.App {
  text-align: center;
}


.App-header {

  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
}

.text_field{
  margin: 5px;
}

.custom_button{
  padding: 10px;
  background-color: #FF9900;
  
}

.custom_button:hover{
  padding: 10px;
  background-color: skyblue;
  
}

.tracks{
  align-items: center;
}

.track_line{
  background-color: brown;
  width: 60vw;
  height: 5px;
  margin: 0 auto;
}

.track{
  background-color: lightgreen;
  width: 60vw;
  height: 5vw;
  margin: 0 auto;

  text-align: left;
}

.track_info_line{
  width: 60vw;
  height: 4vw;
  margin: 0 auto;

  text-align: left;
  vertical-align: bottom;
}

.track_info_text{
  font-weight: bold;
  font-size: 4em;
  text-align: left;
  vertical-align: bottom;
}

.track_info_text_has_margin{
  font-weight: bold;
  font-size: 4em;
  text-align: left;
  vertical-align: bottom;

  margin-left: 11%;
}

.player-container{
  position: relative;
  z-index: 1;


  display: flex;


  width: 7.69%;
  height: 100%;
}

.runner_img{

  position: relative;
  z-index: 1;

  width: 100%;
  height: 100%;
  vertical-align:middle;
}

.tile-container{
  background-color: darkgreen;

  position: relative;
  z-index: 2;
  
 
  display: flex;

  width: 7.69%;
  height: 100%;
}

.tile_img{
  position: relative;
  z-index: 2;

  width: 100%;
  height: 100%;
  vertical-align:bottom;
}