@import url('https://fonts.googleapis.com/css2?family=Quantico:wght@700&display=swap');

body{
  font-family: 'Quantico', sans-serif;
}

.App {
  text-align: center;
}


.App-header {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
}

.text_field{
  margin: 5px;
}

.custom_button{
  padding: 10px;
  background-color: #FF9900;
  
}

.custom_button:hover{
  padding: 10px;
  background-color: skyblue;
  
}

.tracks{
  align-items: center;
}

.track_line{
  background-color: brown;
  width: 60vw;
  height: 5px;
  margin: 0 auto;
}

.track{
  background-color: lightgreen;
  width: 60vw;
  height: 5vw;
  margin: 0 auto;

  text-align: left;
}

.track_info_line{
  width: 60vw;
  height: 2vw;
  margin: 0 auto;

  text-align: left;
  vertical-align: bottom;
}

.track_info_text{
  font-weight: bold;
  font-size: 1.7vw;
  text-align: left;
  vertical-align: bottom;
}

.track_info_text_has_margin{
  font-weight: bold;
  font-size: 1.7vw;
  text-align: left;
  vertical-align: bottom;

  margin-left: 15.5%;
}

.player-container{
  position: relative;
  z-index: 1;


  display: flex;


  width: 7.69%;
  height: 100%;
}


.runner_img{

  position: relative;
  z-index: 1;

  width: 100%;
  height: 100%;
  vertical-align:middle;
}

.runner_img:hover{
  background-color: skyblue;
}

.tile-container{
  background-color: darkgreen;

  position: relative;
  z-index: 2;
  
 
  display: flex;

  width: 7.69%;
  height: 100%;
}

.tile_img{
  position: relative;
  z-index: 2;

  width: 100%;
  height: 100%;
  vertical-align:bottom;
}

span img{
  float: center;
  width: 4vw;
  height : 4vw;
  margin-left : 0.5vw;
  margin-top : 0.5vw;
}

.container{
  
  margin-left: 20%;
  margin-right: 20%;
  display: grid;
  grid-template-columns: 2vw 10vw 10vw 15vw 6vw 6vw 6vw 6vw;
  grid-template-rows: repeat(8, 2.2vw);

}

.item:nth-child(1) {
  align-self: center;
  font-size: 2vw;
  font-weight: bold;
  text-align: left;

	grid-column: 1 / 2;
	grid-row: 1 / 3;
}
.item:nth-child(2) {
  align-self: center;
  font-size: 2vw;
  font-weight: bold;
  text-align: left;

	grid-column: 1 / 2;
	grid-row: 3 / 5;
}
.item:nth-child(3) {
  align-self: center;
  font-size: 2vw;
  font-weight: bold;
  text-align: left;

	grid-column: 1 / 2;
	grid-row: 5 / 7;
}
.item:nth-child(4) {
  align-self: center;
  font-size: 2vw;
  font-weight: bold;
  text-align: left;
  
	grid-column: 1 / 2;
	grid-row: 7 / 9;
}

.item:nth-child(5) {
  align-self: center;
  font-size: 2vw;
  font-weight: bold;

  grid-column: 2 / 3;
	grid-row: 1 / 3;

}
.item:nth-child(6) {
  align-self: center;
  font-size: 2vw;
  font-weight: bold;

	grid-column: 2 / 3;
	grid-row: 3 / 5;
}
.item:nth-child(7) {
  align-self: center;
  font-size: 2vw;
  font-weight: bold;
  
	grid-column: 2 / 3;
	grid-row: 5 / 7;
}
.item:nth-child(8) {
  align-self: center;
  font-size: 2vw;
  font-weight: bold;
  
  grid-column: 2 / 3;
	grid-row: 7 / 9;
}

.item:nth-child(9) {
  align-self: center;
  font-size: 1vw;
  
	grid-column: 3 / 4;
  grid-row: 1 / 2;
}
.item:nth-child(10) {
  align-self: center;
  font-size: 1vw;

	grid-column: 3 / 4;
  grid-row: 2 / 3;
}
.item:nth-child(11) {
  align-self: center;
  font-size: 1vw;
  
	grid-column: 3 / 4;
  grid-row: 3 / 4;  
}
.item:nth-child(12) {
  align-self: center;
  font-size: 1vw;
  
	grid-column: 3 / 4;
  grid-row: 4 / 5;
}
.item:nth-child(13) {
  align-self: center;
	grid-column: 3 / 4;
  grid-row: 5 / 6;
}
.item:nth-child(14) {
  align-self: center;
  font-size: 1vw;
  
	grid-column: 3 / 4;
  grid-row: 6 / 7;
}
.item:nth-child(15) {
  align-self: center;
  font-size: 1vw;
  
	grid-column: 3 / 4;
  grid-row: 7 / 8;
}
.item:nth-child(16) {
  align-self: center;
  font-size: 1vw;
  
	grid-column: 3 / 4;
  grid-row: 8 / 9;
}

.item:nth-child(17) {
  grid-column: 6 / 8;
  grid-row: 5 / 7;

  text-align: center;

  padding-top: 1vw;
  margin-bottom: 1vw;

  background-color: #FF9900;
}

.item:nth-child(18) {
  align-self: center;
  grid-column: 5 / 6;
  grid-row: 7 / 9;

	float : right;
  margin-right: 20%;
  margin-bottom: 10%;
  width: 5vw;
  height: 5vw;
  font-size: 2vw;
  border: 3px solid #FF0000;
}
.item:nth-child(19) {
  align-self: center;
  grid-column: 6 / 7;
  grid-row: 7 / 9;

	float : right;
  margin-right: 1%;
  margin-bottom: 10%;
  width: 5vw;
  height: 5vw;
  font-size: 2vw;
  border: 3px solid #FF0000;
}
.item:nth-child(20) {
  align-self: center;
  grid-column: 7 / 8;
  grid-row: 7 / 9;

  float : right;
  margin-right: 1%;
  margin-bottom: 10%;
  width: 5vw;
  height: 5vw;
  font-size: 2vw;
  border: 3px solid #FF0000;
	
}
.item:nth-child(21) {
  align-self: center;
  grid-column: 8 / 9;
  grid-row: 7 / 9;

	float : right;
  margin-right: 1%;
  margin-bottom: 10%;
  width: 5vw;
  height: 5vw;
  font-size: 2vw;
  border: 3px solid #FF0000;
}

.item:nth-child(18):hover{
  background-color: skyblue;
}

.item:nth-child(19):hover{
  background-color: skyblue;
}

.item:nth-child(20):hover{
  background-color: skyblue;
}

.item:nth-child(21):hover{
  background-color: skyblue;
}


.skill_box:hover{
  background-color: skyblue;
}

span img{
  float: center;
  width: 4vw;
  height : 4vw;
  margin-left : 0.5vw;
  margin-top : 0.5vw;
}

