.App {
  text-align: center;
}


.App-header {

  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
}

.text_field{
  margin: 5px;
}

.custom_button{
  padding: 10px;
  background-color: #FF9900;
  
}

.custom_button:hover{
  padding: 10px;
  background-color: skyblue;
  
}

.tracks{
  align-items: center;
}

.track_line{
  background-color: brown;
  width: 60vw;
  height: 5px;
  margin: 0 auto;
}

.track{
  background-color: lightgreen;
  width: 60vw;
  height: 5vw;
  margin: 0 auto;
}